html {
 
  font-size: 12px;
}

body {
  /* Font settings */
  font-family:  Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 30px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 29px;
}

a {
  color: #477ca7;
}

a:visited {
  color: #8B008B;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #87CEFA;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 15px;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: sans-sarif;
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: center;
}

h3 {
  color: #191970;
}